{% extends 'base.html.twig' %}

{% block body %}
    <h1>test_symfony</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ test_symfony.id }}</td>
            </tr>
            <tr>
                <th>Patate</th>
                <td>{{ test_symfony.patate }}</td>
            </tr>
            <tr>
                <th>Fruits</th>
                <td>{{ test_symfony.fruits }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('test_symfony_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('test_symfony_edit', { 'id': test_symfony.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
